<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>Kubernetes Pods Status Page</h1>
<table class="table table-bordered">
    <thead>
        <tr>
                <th>Pod IP</th>
                <th>Namespace</th>
                <th>Pod_Name</th>
                <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.status.pod_ip }}</td>
                <td>{{ item.metadata.namespace }}</td>
                <td>{{ item.metadata.name }}</td>
                <td>{{ item.status.phase }}</td>
            </tr>
    </tbody>
    {% endfor %}
</table>